.Avatar {
    display: block;
    position: absolute !important;
    top: 60px; left: 160px;
}

.InputEnhance {
    width: 200px;
    border-bottom: 1px solid gray;
    color: gray;
    margin: 5px 0px;
}
